{% extends 'base.html' %} {% load static %} {% block contents %}
<h2>Homework</h2>
<table>
  <thead>
    <tr>
      <th>#</th>
      <th>title</th>
      <th>writer</th>
      <th>deadline</th>
    </tr>
  </thead>
  <tbody>
    {% for homework in homeworks %}
    <tr>
      <td>{{homework.id}}</td>
      <td>{{homework.title}}</td>
      <td>{{homework.writer}}</td>
      <td>{{homework.end_date}}</td>
    </tr>
    {% endfor %}
  </tbody>
  <thead>
    <tr>
      <th>done</th>
    </tr>
  </thead>
  <tbody>
    {% for do in done %}
    <tr>
      <td>{{do}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}